
#  --- VS  tempfile clutter ---

Temp/*
Library/*
.vs/*
*/bin
*/obj
*.log
# -- VS subprojects -- 

**/Temp/*
**/Library/*
**/.vs/*
**/bin/*
**/obj/*

# -- general purpose junk folders -- 
stash


# -- DropIn Makefile target --- 

**/Assets/DropIN/*


# -- analyz0r temp files -- 
*.dot
*.json 
*.pdf 

#  ---    emacs clutter  ---- 

*~
\#*
.#*

#  --- build targets ---

**/Assets/StreamingAssets/*
!Assets/StreamingAssets/BinAssets/.gitkeep






